{% extends "base_template.html" %}
{% load static %}
{% block page_content %}
<div class="container">
    <div class="row row-header">
        <div class="col-xs-1">
            <button type="button" class="btn">
                <img src="{% static 'img/plus.png' %}" alt="Add" height="42" width="42"/>
            </button>
        </div>
        <div class="col-xs-3">
            <form action="{% url 'user_list' %}" method="get">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                    <input type="text" class="form-control" name="search" placeholder="Search for name...">
                </div>
            </form>
        </div>
        <div class="col-xs-4">
            <h2 class="text-header">USERS</h2>
        </div>
    </div>

    <div class="panel panel-default">
        <table class="table">
            <thead class="table-header">
                <tr>
                    <th>NAME</th>
                    <th>E-MAIL</th>
                    <th>STATUS</th>
                    <th width="200px">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.status }}</td>
                    <td>
                        <button type="button" class="btn">
                            <img src="{% static 'img/edit-1.png' %}" alt="Add" height="24" width="24"/>
                        </button>
                        <button type="button" class="btn">
                            <img src="{% static 'img/trash.png' %}" alt="Add" height="24" width="24"/>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}