{% extends "base_template.html" %}
{% load static %}
{% block page_title %}
    Users
{% endblock %}
{% block page_content %}
<div class="container">
<!-- START PAGE HEADER -->
    <div class="row row-header">
        <div class="col-xs-1">
            <a href="{% url 'user_create' %}">
                <img src="{% static 'img/plus.svg' %}" alt="Create" height="42" width="42"/>
            </a>
        </div>
        <div class="col-xs-3">
            <form method="get">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search" type="submit">
                            <img src="{% static 'img/search.svg' %}" height="20" width="20">
                        </button>
                    </span>
                    <input type="text" class="form-control" name="search" value="{{ user_search }}"
                           placeholder="Search for name..." >
                </div>
            </form>
        </div>
        <div class="col-xs-4">
            <h2 class="text-header"><b>USERS</b></h2>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-1">
            <form method="get">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-togle" data-toggle="dropdown"
                            aria-has-popup="true" aria-expanded="false">
                        {{ user_list.paginator.per_page }}
                        <span class="caret" style="margin-left: 5px"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="?items=10">10</a></li>
                        <li><a href="?items=15">15</a></li>
                        <li><a href="?items=20">20</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
<!-- STAR USER LIST TABLE -->
    <div class="panel panel-default">
        <table class="table">
            <thead class="table-header">
                <tr>
                    <th>NAME</th>
                    <th>E-MAIL</th>
                    <th>STATUS</th>
                    <th width="150px">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.mail }}</td>
                    {% if user.status == 'Inactive' %}
                        <td style="color: #ff3d3d">{{ user.status }}</td>
                    {% else %}
                        <td style="color: #4FBA6F">{{ user.status }}</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'user_edit' %}{{ user.id }}" style="text-decoration: none">
                            <img src="{% static 'img/edit-1.svg' %}" alt="Edit" height="24" width="24"/>
                        </a>
                        <a href="{{ request.path }}?remove={{ user.id }}" type="button" class="btn">
                            <img src="{% static 'img/trash.svg' %}" alt="Remove" height="24" width="24"/>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<!-- START PAGINATOR -->
    <div class="pagination">
        <span class="step-links">
            {% if user_list.has_previous %}
                <a href="{{ request.path }}?page={{ user_list.previous_page_number }}">
                    <img src="{% static 'img/left-arrow-green.svg' %}" alt="Previous" height="24" width="24"/>
                </a>
            {% endif %}

            <span class="current">
                Page {{ user_list.number }} of {{ user_list.paginator.num_pages }}.
            </span>

            {% if user_list.has_next %}
                <a href="{{ request.path }}?page={{user_list.next_page_number }}">
                    <img src="{% static 'img/right-arrow-green.svg' %}" alt="Next" height="24" width="24"/>
                </a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}