{% extends "base_template.html" %}
{% load static %}
{% block page_title %}
    Create User
{% endblock %}
{% block page_content %}
<div class="container">
<!-- START PAGE HEADER -->
    <div class="row row-header">
        <div class="col-xs-3">
            <a href="{% url 'user_list' %}">
                <img src="{% static 'img/left-arrow-red.svg' %}" alt="Back" height="42" width="42"/>
            </a>
        </div>
        <div class="col-xs-6">
            <h2 class="text-header"><b>CREATE USER</b></h2>
        </div>
        <div class="col-xs-3">
            {% if result_success %}
            <div id="successMessage" class="form-control success">User created successfully</div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <form method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <label class="control-label" for="id_{{ field.name }}">
                    {% if field.field.required %}
                    <span style="color: red">*</span>
                    {% endif %}
                    {{ field.label }}
                </label>
                <div class="error-form-field">
                    {% for error in field.errors %}
                    <h6 style="color: red">{{ error }}</h6>
                    {% endfor %}
                </div>
                <div>
                    {{ field.as_widget }}
                    <h6 class="help-block">{{ field.help_text }}</h6>
                </div>
                {% endfor %}
                <div class="row row-submit">
                    <input class="btn btn-submit" type="submit" name="create" value="Create"/>
                </div>
            </form>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>
{% endblock %}