body {
    padding-top: 50px;
}

.navbar-nav {
    float: right;
}

.row-header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
}

.text-header {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.table-header {
    background-color: #222;
    color: #9d9d9d;
}

.table tbody tr td {
    vertical-align: middle;
}

.btn-search {
    font-size: 0;
    border-radius: 20px 20px;
}

.form-radius {
    border-radius: 30px;
}

.btn-add-course {
    padding: 0px;
}

.row-submit {
    padding-top: 20px;
    padding-right: 15px;
}

.btn-submit {
    background-color: #4FBA6F;
    border-radius: 30px;
    padding: 8px 25px;
    color: white;
    float: right;
}

#course-list {
    width: 100%;
}

#course-list td {
    vertical-align: middle;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.rem-course {
    float: right;
    font-size: 16px;
    color: black;
    padding: 0px;
}

.success {
    border-radius: 30px;
    border-color: #4FBA6F;
    color: #4FBA6F;
    text-align: center;
}

.pagination {
    width: 100%;
    text-align: center;
}

.page-num {
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    margin: 3px;
}

.current {
    color: #4FBA6F;
    border-color: #4FBA6F;
    font-weight: bold;
}